/* Phone */
@media screen and (max-width: 480px){

    .chart {
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items:center;
    }

    .entry{
        display:flex;
        flex-direction:row;
        align-items:center;
        font-size: 3.5vw;
        width:5vw;
    }

    .columnTitles {
        border: 5px solid lightblue;
        width:100%;
        font-size:2vw;
        background-color: white;
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        position: sticky;
        top:0;
    }

}

/* Tablet */
@media screen and (min-width:480px) and (max-width:768px){

    .chart {
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items:center;
    }

    .entry{
        display:flex;
        flex-direction:row;
        align-items:center;
        font-size: 3.5vw;
        width:5vw;
    }

    .columnTitles {
        border: 5px solid lightblue;
        width:100%;
        font-size:2vw;
        background-color: white;
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        position: sticky;
        top:0;
    }

}

/* Computer screen */
@media screen and (min-width:768px) and (max-width:2000px) {

    .dictionary-page-main {
        margin: 0 10vw 0 10vw;
    }

    .chart {
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        align-items:center;
    }

    .entry{
        display:flex;
        flex-direction:row;
        align-items:center;
        font-size: 2rem;
        width:5vw;
    }

    .columnTitles {
        border: 5px solid lightblue;
        width:100%;
        font-size:1rem;
        background-color: white;
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;
        position: sticky;
        top:0;
    }

}